.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/saaspal-free-lite/embed.html
public/saaspal-free-lite/favicon.ico
public/saaspal-free-lite/index.html
public/saaspal-free-lite/readme.txt
public/saaspal-free-lite/styles.html
public/saaspal-free-lite/assets/css/animate.css
public/saaspal-free-lite/assets/css/bootstrap.min.css
public/saaspal-free-lite/assets/css/lineicons.css
public/saaspal-free-lite/assets/css/main.css
public/saaspal-free-lite/assets/css/me.css
public/saaspal-free-lite/assets/fonts/LineIcons.eot
public/saaspal-free-lite/assets/fonts/LineIcons.svg
public/saaspal-free-lite/assets/fonts/LineIcons.ttf
public/saaspal-free-lite/assets/fonts/LineIcons.woff
public/saaspal-free-lite/assets/fonts/LineIcons.woff2
public/saaspal-free-lite/assets/img/favicon.png
public/saaspal-free-lite/assets/img/favicon.svg
public/saaspal-free-lite/assets/img/about/about-1.png
public/saaspal-free-lite/assets/img/about/about-2.png
public/saaspal-free-lite/assets/img/about/about-left-shape.svg
public/saaspal-free-lite/assets/img/about/about-right-shape.svg
public/saaspal-free-lite/assets/img/about/left-dots.svg
public/saaspal-free-lite/assets/img/about/right-dots.svg
public/saaspal-free-lite/assets/img/footer/footer-bg.svg
public/saaspal-free-lite/assets/img/hero/hero-bg.svg
public/saaspal-free-lite/assets/img/hero/hero-img.png
public/saaspal-free-lite/assets/img/hero/hero-shape.svg
public/saaspal-free-lite/assets/img/logo/logo-2.svg
public/saaspal-free-lite/assets/img/logo/logo.svg
public/saaspal-free-lite/assets/img/subscribe/subscribe-bg.svg
public/saaspal-free-lite/assets/img/testimonial/testimonial-1.png
public/saaspal-free-lite/assets/img/testimonial/testimonial-2.png
public/saaspal-free-lite/assets/img/testimonial/testimonial-3.png
public/saaspal-free-lite/assets/img/testimonial/testimonial-dots.svg
public/saaspal-free-lite/assets/img/testimonial/testimonial-shape.svg
public/saaspal-free-lite/assets/js/bootstrap.bundle.min.js
public/saaspal-free-lite/assets/js/main.js
public/saaspal-free-lite/assets/js/wow.min.js
public/saaspal-free-lite/assets/sass/00-reset.scss
public/saaspal-free-lite/assets/sass/01-content.scss
public/saaspal-free-lite/assets/sass/me.scss
public/saaspal-free-lite/css/base.css
public/saaspal-free-lite/css/fonts.css
public/saaspal-free-lite/css/main.css
public/saaspal-free-lite/css/vendor.css
public/saaspal-free-lite/css/font-awesome/css/font-awesome.css
public/saaspal-free-lite/css/font-awesome/css/font-awesome.min.css
public/saaspal-free-lite/css/font-awesome/fonts/fontawesome-webfont.eot
public/saaspal-free-lite/css/font-awesome/fonts/fontawesome-webfont.svg
public/saaspal-free-lite/css/font-awesome/fonts/fontawesome-webfont.ttf
public/saaspal-free-lite/css/font-awesome/fonts/fontawesome-webfont.woff
public/saaspal-free-lite/css/font-awesome/fonts/fontawesome-webfont.woff2
public/saaspal-free-lite/css/font-awesome/fonts/FontAwesome.otf
public/saaspal-free-lite/css/micons/micons.css
public/saaspal-free-lite/css/micons/fonts/icomoon.eot
public/saaspal-free-lite/css/micons/fonts/icomoon.svg
public/saaspal-free-lite/css/micons/fonts/icomoon.ttf
public/saaspal-free-lite/css/micons/fonts/icomoon.woff
public/saaspal-free-lite/fonts/montserrat/montserrat-black-webfont.woff
public/saaspal-free-lite/fonts/montserrat/montserrat-black-webfont.woff2
public/saaspal-free-lite/fonts/montserrat/montserrat-bold-webfont.woff
public/saaspal-free-lite/fonts/montserrat/montserrat-bold-webfont.woff2
public/saaspal-free-lite/fonts/montserrat/montserrat-extrabold-webfont.woff
public/saaspal-free-lite/fonts/montserrat/montserrat-extrabold-webfont.woff2
public/saaspal-free-lite/fonts/montserrat/montserrat-extralight-webfont.woff
public/saaspal-free-lite/fonts/montserrat/montserrat-extralight-webfont.woff2
public/saaspal-free-lite/fonts/montserrat/montserrat-light-webfont.woff
public/saaspal-free-lite/fonts/montserrat/montserrat-light-webfont.woff2
public/saaspal-free-lite/fonts/montserrat/montserrat-medium-webfont.woff
public/saaspal-free-lite/fonts/montserrat/montserrat-medium-webfont.woff2
public/saaspal-free-lite/fonts/montserrat/montserrat-regular-webfont.woff
public/saaspal-free-lite/fonts/montserrat/montserrat-regular-webfont.woff2
public/saaspal-free-lite/fonts/montserrat/montserrat-semibold-webfont.woff
public/saaspal-free-lite/fonts/montserrat/montserrat-semibold-webfont.woff2
public/saaspal-free-lite/fonts/montserrat/montserrat-thin-webfont.woff
public/saaspal-free-lite/fonts/montserrat/montserrat-thin-webfont.woff2
public/saaspal-free-lite/fonts/muli/muli-bold-webfont.woff
public/saaspal-free-lite/fonts/muli/muli-bold-webfont.woff2
public/saaspal-free-lite/fonts/muli/muli-bolditalic-webfont.woff
public/saaspal-free-lite/fonts/muli/muli-bolditalic-webfont.woff2
public/saaspal-free-lite/fonts/muli/muli-extrabold-webfont.woff
public/saaspal-free-lite/fonts/muli/muli-extrabold-webfont.woff2
public/saaspal-free-lite/fonts/muli/muli-extrabolditalic-webfont.woff
public/saaspal-free-lite/fonts/muli/muli-extrabolditalic-webfont.woff2
public/saaspal-free-lite/fonts/muli/muli-extralight-webfont.woff
public/saaspal-free-lite/fonts/muli/muli-extralight-webfont.woff2
public/saaspal-free-lite/fonts/muli/muli-extralightitalic-webfont.woff
public/saaspal-free-lite/fonts/muli/muli-extralightitalic-webfont.woff2
public/saaspal-free-lite/fonts/muli/muli-italic-webfont.woff
public/saaspal-free-lite/fonts/muli/muli-italic-webfont.woff2
public/saaspal-free-lite/fonts/muli/muli-light-webfont.woff
public/saaspal-free-lite/fonts/muli/muli-light-webfont.woff2
public/saaspal-free-lite/fonts/muli/muli-lightitalic-webfont.woff
public/saaspal-free-lite/fonts/muli/muli-lightitalic-webfont.woff2
public/saaspal-free-lite/fonts/muli/muli-regular-webfont.woff
public/saaspal-free-lite/fonts/muli/muli-regular-webfont.woff2
public/saaspal-free-lite/fonts/muli/muli-semibold-webfont.woff
public/saaspal-free-lite/fonts/muli/muli-semibold-webfont.woff2
public/saaspal-free-lite/fonts/muli/muli-semibolditalic-webfont.woff
public/saaspal-free-lite/fonts/muli/muli-semibolditalic-webfont.woff2
public/saaspal-free-lite/images/app-screens-600.png
public/saaspal-free-lite/images/app-screens-1200.png
public/saaspal-free-lite/images/app-screens-2800.png
public/saaspal-free-lite/images/appstore.png
public/saaspal-free-lite/images/email-icon.png
public/saaspal-free-lite/images/google-play.png
public/saaspal-free-lite/images/hero-bg.jpg
public/saaspal-free-lite/images/iphone-app-470.png
public/saaspal-free-lite/images/iphone-app-940.png
public/saaspal-free-lite/images/logo.png
public/saaspal-free-lite/images/sample-image.jpg
public/saaspal-free-lite/images/shutterbug.jpg
public/saaspal-free-lite/images/avatars/user-01.jpg
public/saaspal-free-lite/images/avatars/user-02.jpg
public/saaspal-free-lite/images/avatars/user-03.jpg
public/saaspal-free-lite/images/avatars/user-04.jpg
public/saaspal-free-lite/images/avatars/user-05.jpg
public/saaspal-free-lite/js/jquery-2.1.3.min.js
public/saaspal-free-lite/js/main.js
public/saaspal-free-lite/js/modernizr.js
public/saaspal-free-lite/js/pace.min.js
public/saaspal-free-lite/js/plugins.js
todo.txt
